.bg-hubble {
  position: relative;
  background-color: transparent;
  overflow: hidden; }
  .bg-hubble::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
    background-color: black; }
  .bg-hubble:after {
    content: '';
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 150%;
    -webkit-transform: translate(-6.25%, -6.25%);
        -ms-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1;
    background-image: url(images/02.jpg);
    background-size: cover;
    background-position: center;
    -webkit-animation-name: hubble;
            animation-name: hubble;
    -webkit-animation-duration: 64s;
            animation-duration: 64s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    box-shadow: inset 0 0 0 4px red; }

@-webkit-keyframes hubble {
  0 {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; }

  4.16667% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  8.32333% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 0; }

  8.33333% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(-12.5%, 12.5%);
            transform: translate(-12.5%, 12.5%);
    opacity: 0; }

  12.5% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 1; }

  16.66667% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  20.82333% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 0; }

  20.83333% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(12.5%, 12.5%);
            transform: translate(12.5%, 12.5%);
    opacity: 0; }

  25% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 1; }

  29.16667% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  33.32333% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 0; }

  33.33333% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(12.5%, -12.5%);
            transform: translate(12.5%, -12.5%);
    opacity: 0; }

  37.5% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 1; }

  41.66667% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  45.82333% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 0; }

  45.83333% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(-12.5%, -12.5%);
            transform: translate(-12.5%, -12.5%);
    opacity: 0; }

  50% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; }

  54.16667% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  58.32333% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 0; }

  58.33333% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(-12.5%, 12.5%);
            transform: translate(-12.5%, 12.5%);
    opacity: 0; }

  62.5% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 1; }

  66.66667% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  70.82333% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 0; }

  70.83333% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(12.5%, 12.5%);
            transform: translate(12.5%, 12.5%);
    opacity: 0; }

  75% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 1; }

  79.16667% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  83.32333% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 0; }

  83.33333% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(12.5%, -12.5%);
            transform: translate(12.5%, -12.5%);
    opacity: 0; }

  87.5% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 1; }

  91.66667% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  95.82333% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 0; }

  95.83333% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-12.5%, -12.5%);
            transform: translate(-12.5%, -12.5%);
    opacity: 0; }

  100% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; } }

@keyframes hubble {
  0 {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; }

  4.16667% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  8.32333% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 0; }

  8.33333% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(-12.5%, 12.5%);
            transform: translate(-12.5%, 12.5%);
    opacity: 0; }

  12.5% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 1; }

  16.66667% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  20.82333% {
    background-image: url(images/03.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 0; }

  20.83333% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(12.5%, 12.5%);
            transform: translate(12.5%, 12.5%);
    opacity: 0; }

  25% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 1; }

  29.16667% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  33.32333% {
    background-image: url(images/04.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 0; }

  33.33333% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(12.5%, -12.5%);
            transform: translate(12.5%, -12.5%);
    opacity: 0; }

  37.5% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 1; }

  41.66667% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  45.82333% {
    background-image: url(images/05.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 0; }

  45.83333% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(-12.5%, -12.5%);
            transform: translate(-12.5%, -12.5%);
    opacity: 0; }

  50% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; }

  54.16667% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  58.32333% {
    background-image: url(images/lincoln-1.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 0; }

  58.33333% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(-12.5%, 12.5%);
            transform: translate(-12.5%, 12.5%);
    opacity: 0; }

  62.5% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 1; }

  66.66667% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  70.82333% {
    background-image: url(images/lincoln-2.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 0; }

  70.83333% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(12.5%, 12.5%);
            transform: translate(12.5%, 12.5%);
    opacity: 0; }

  75% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(6.25%, 6.25%);
            transform: translate(6.25%, 6.25%);
    opacity: 1; }

  79.16667% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  83.32333% {
    background-image: url(images/lincoln-3.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 0; }

  83.33333% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(12.5%, -12.5%);
            transform: translate(12.5%, -12.5%);
    opacity: 0; }

  87.5% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(6.25%, -6.25%);
            transform: translate(6.25%, -6.25%);
    opacity: 1; }

  91.66667% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1; }

  95.82333% {
    background-image: url(images/lincoln-4.jpg);
    -webkit-transform: translate(-6.25%, 6.25%);
            transform: translate(-6.25%, 6.25%);
    opacity: 0; }

  95.83333% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-12.5%, -12.5%);
            transform: translate(-12.5%, -12.5%);
    opacity: 0; }

  100% {
    background-image: url(images/02.jpg);
    -webkit-transform: translate(-6.25%, -6.25%);
            transform: translate(-6.25%, -6.25%);
    opacity: 1; } }
