
.bg-kenburns {
  /*
  animation-name: kenburns;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
  background-size: cover;
  */
  position: relative;
  background-color: transparent;
}

.bg-kenburns::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background-color: black;
}

.bg-kenburns::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: -20%;
  right: -20%;
  bottom: -20%;
  left: -20%;
  background-size: cover;
  animation-name: kenburns-alt;
  animation-duration: var(--duration);
  animation-iteration-count: infinite;
}

@keyframes kenburns {

    0% { background-image: var(--image-1); background-position: top left;     opacity: 1; }
   10% { background-image: var(--image-1); background-position: bottom right; opacity: 1; }
   15% { background-image: var(--image-1); background-position: bottom right; opacity: 0; }

   20% { background-image: var(--image-2); background-position: bottom right; opacity: 1; }
   30% { background-image: var(--image-2); background-position: top left;     opacity: 1; }
   35% { background-image: var(--image-2); background-position: top left;     opacity: 0;}

   40% { background-image: var(--image-3); background-position: top left;     opacity: 1; }
   50% { background-image: var(--image-3); background-position: bottom right; opacity: 1; }

   60% { background-image: var(--image-4); background-position: bottom right; opacity: 1; }
   70% { background-image: var(--image-4); background-position: top left;     opacity: 1; }

   80% { background-image: var(--image-5); background-position: top left;     opacity: 1; }
   90% { background-image: var(--image-5); background-position: bottom right; opacity: 1; }

  100% { background-image: var(--image-1); background-position: top left;     opacity: 1; }

}

@keyframes kenburns-alt {

    0% { background-image: var(--image-1); top: 0;    opacity: 1; }
   10% { background-image: var(--image-1); top: -20%; opacity: 1; }
   15% { background-image: var(--image-1); top: 0;    opacity: 0; }

   20% { background-image: var(--image-2); top: 0; opacity: 1; }
   30% { background-image: var(--image-2); top: -20%; opacity: 1; }
   35% { background-image: var(--image-2); top: 0; opacity: 0;}

   40% { background-image: var(--image-3); top: 0; opacity: 1; }
   50% { background-image: var(--image-3); top: -20%; opacity: 1; }

   60% { background-image: var(--image-4); top: 0; opacity: 1; }
   70% { background-image: var(--image-4); top: -20%; opacity: 1; }

   80% { background-image: var(--image-5); top: 0; opacity: 1; }
   90% { background-image: var(--image-5); top: -20%; opacity: 1; }

  100% { background-image: var(--image-1); top: 0; opacity: 1; }

}

:root {
  --duration: 12s;
  --image-1: url(images/01.jpg);
  --image-2: url(images/02.jpg);
  --image-3: url(images/03.jpg);
  --image-4: url(images/04.jpg);
  --image-5: url(images/05.jpg);
}

